{% liquid 
  # KS Age Verification
  # © 2025 KondaSoft
  # https://www.kondasoft.com
%}

{% liquid 
  assign backdrop_bg_color_rgb = section.settings.backdrop_bg_color.red | append: ', ' | append: section.settings.backdrop_bg_color.green | append: ', ' | append: section.settings.backdrop_bg_color.blue
%}

{%- style -%}
  #ks-age-verification-dialog {
    --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
    --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    padding: 0;
    outline: none;
    border: none;
    box-shadow: 0 0 24px rgba({{ backdrop_bg_color_rgb }}, {{ section.settings.dialog_box_shadow }}%);
    border-radius: {{ section.settings.dialog_border_radius }}px;
    width: calc(100% - 4rem);
    max-width: {{ section.settings.dialog_max_width}}px;
    text-align: {{ section.settings.dialog_text_align }};
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: .6s;
  }

  #ks-age-verification-dialog[open] {
    opacity: 1;
    transform: translateY(0);
  }

  @starting-style {
    #ks-age-verification-dialog[open] {
      opacity: 0;
      transform: translateY(15vh);
    }
  }

  #ks-age-verification-dialog::backdrop {
    background: rgba({{ backdrop_bg_color_rgb }}, 0);
    -webkit-backdrop-filter: blur({{ section.settings.backdrop_blur }}px);
    backdrop-filter: blur({{ section.settings.backdrop_blur }}px);
    transition: background-color 0.7s;
  }

  #ks-age-verification-dialog[open]::backdrop {
    background: rgba({{ backdrop_bg_color_rgb }}, {{ section.settings.backdrop_bg_opacity }}%);
  }

  @starting-style {
    #ks-age-verification-dialog[open]::backdrop {
      background: rgba({{ backdrop_bg_color_rgb }}, 0);
    }
  }

  #ks-age-verification-dialog .ks-dialog-inner {
    padding: {{ section.settings.dialog_padding | times: 0.75 | round: 0 }}px;
  }

  #ks-age-verification-dialog .title {
    margin: 0;
  }

  #ks-age-verification-dialog .description {
    margin: 4px 0 0;
  }

  #ks-age-verification-dialog .description-note {
    margin: 8px 0 0;
    font-size: .75em;
  }

  .ks-age-verification-dialog-date {
    margin: 18px 0 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .ks-age-verification-dialog-year {
    margin: 18px 0 18px;
  }
  
  .ks-age-verification-dialog-buttons {
    margin: 18px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  #ks-age-verification-dialog img {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    height: 0;
    transition: all .6s ease-out;
    transition-delay: 1s;
  }

  #ks-age-verification-dialog[open] img {
    opacity: 1;
    height: {{ section.settings.image_height | times: 0.75 | round: 0 }}px;
  }

  @media (min-width: 750px) {
    #ks-age-verification-dialog[open] img {
      height: {{ section.settings.image_height }}px;
    }
  }

  @starting-style {
    #ks-age-verification-dialog[open] img {
      opacity: 0;
      height: 0;
    }
  }

  #ks-age-verification-dialog form {
    margin: 16px 0 0;
  }

  @media (min-width: 750px) {
    #ks-age-verification-dialog .ks-dialog-inner {
      padding: {{ section.settings.dialog_padding }}px;
    }
  }

{%- endstyle -%}

{%- javascript -%} 
  if (Shopify.designMode) return

  function createCookie (name, value, days) {
    let date, expires
    if (days) {
      date = new Date()
      date.setDate(date.getDate() + days)
      expires = '; expires=' + date.toUTCString()
    } else {
      expires = ''
    }
    document.cookie = name + '=' + value + expires + '; path=/'
  }

  function getCookie(name) {
    let cookies = document.cookie.split('; ');
    for (let cookie of cookies) {
      let [cookieName, cookieValue] = cookie.split('=');
      if (cookieName === name) {
        return decodeURIComponent(cookieValue);
      }
    }
    return null;
  }

  const dialog = document.querySelector('#ks-age-verification-dialog')

  if (window.location.href.includes('ks-age-verification')) {
    dialog.showModal()
  }

  if (!getCookie('ks-age-verification')) {
    dialog.showModal()
  }

  dialog.querySelectorAll('.ks-age-verification-dialog-date input').forEach(input => {
    input.addEventListener('input', (e) => {
      dialog.querySelector('button[data-submit]').disabled = true

      const year = dialog.querySelector('#ks-age-verification-dialog-date-year').value
      const month = dialog.querySelector('#ks-age-verification-dialog-date-month').value
      const day = dialog.querySelector('#ks-age-verification-dialog-date-day').value

      if (year.length == 4 && (month.length == 1 || month.length == 2) && (day.length == 1 || day.length == 2)) {
        const userDate = new Date(`${year}-${month}-${day}`)
        
        if (userDate) {
          const userTimestamp = Math.round(userDate.getTime() / 1000)
          const minAge = Number(dialog.dataset.minAge)
          const minTimesamp = Math.round(new Date().getTime() / 1000) - (minAge * 3.154e+7)

          if (userTimestamp < minTimesamp) {
            dialog.querySelector('button[data-submit]').disabled = false
          }
        }
      }
    })
  })

  dialog.querySelectorAll('.ks-age-verification-dialog-year input').forEach(input => {
    input.addEventListener('input', (e) => {
      dialog.querySelector('button[data-submit]').disabled = true

      const year = dialog.querySelector('#ks-age-verification-dialog-year-year').value

      if (year.length == 4) {
        const month = new Date().getMonth() + 1
        const day = new Date().getDate()

        const userDate = new Date(`${year}-${month}-${day}`)
        
        if (userDate) {
          const userTimestamp = Math.round(userDate.getTime() / 1000)
          const minAge = Number(dialog.dataset.minAge)
          const minTimesamp = Math.round(new Date().getTime() / 1000) - (minAge * 3.154e+7)

          if (userTimestamp < minTimesamp) {
            dialog.querySelector('button[data-submit]').disabled = false
          }
        }
      }
    })
  })

  dialog.querySelector('button[data-submit]').addEventListener('click', () => {
    createCookie('ks-age-verification', true, Number(dialog.dataset.configDaysToWait))
    dialog.close()
  })

  if (!window.Shopify.theme.schema_name.includes('Dawn')) {
    dialog.querySelectorAll('.field__label').forEach(elem => {
      elem.style.display = 'none'
    })
  }
  
{%- endjavascript -%}

{% if request.design_mode %}
  <script>
    // Always show the dialog within the theme editor
    const showDialog = (event) => {
      console.log(event)
      const dialog = document.querySelector('#ks-age-verification-dialog')

      if (event.target.querySelector(`#${dialog.id}`)) {
        dialog.showModal() 
      } else {
        dialog.close() 
      }
    }

    document.addEventListener('shopify:section:load', showDialog)
    document.addEventListener('shopify:section:select', showDialog)
  </script>
{% endif %}
 
<dialog 
  id="ks-age-verification-dialog"
  class="color-{{ section.settings.dialog_color_scheme }} gradient"
  data-min-age="{{ section.settings.config_min_age }}"
  data-config-days-to-wait="{{ section.settings.config_days_to_wait }}">
  {%- if section.settings.image != nil -%}
    <img
      src="{{ section.settings.image | image_url: width: 1200 }}"
      alt="{{ section.settings.image.alt }}"
      width="600"
      height="{{ 600 | divided_by: section.settings.image.aspect_ratio | round }}"
      loading="lazy">
  {%- endif -%}
  <div class="ks-dialog-inner">
    {%- if section.settings.heading != blank -%}
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    {% unless section.settings.description == blank %}
      <div class="description rte">
        {{ section.settings.description }}
      </div>
    {% endunless %}
    {% case section.settings.config_style %}
      {% when 'date' %}
        <div class="ks-age-verification-dialog-date">
          <div class="field">
            <input 
              id="ks-age-verification-dialog-date-month"
              class="field__input form-control" 
              type="number"
              min="1" 
              max="12" 
              step="1"
              length
              placeholder="{{ section.settings.text_month_format }}"
              aria-label="{{ section.settings.text_month }}"
              required>
            <label 
              class="field__label" 
              for="ks-age-verification-dialog-date-month"
              aria-hidden="true">
              {{ section.settings.text_month_format }}
            </label>
          </div>
          <div class="field">
            <input 
              id="ks-age-verification-dialog-date-day"
              class="field__input form-control" 
              type="number"
              min="1" 
              max="31" 
              step="1"
              placeholder="{{ section.settings.text_day_format }}"
              aria-label="{{ section.settings.text_day }}"
              required>
            <label 
              class="field__label" 
              for="ks-age-verification-dialog-date-day"
              aria-hidden="true">
              {{ section.settings.text_day_format }}
            </label>
          </div>
          <div class="field">
            <input 
              id="ks-age-verification-dialog-date-year"
              class="field__input form-control" 
              type="number"
              min="1900" 
              max="2099" 
              step="1"
              placeholder="{{ section.settings.text_year_format }}"
              aria-label="{{ section.settings.text_year }}"
              required>
            <label 
              class="field__label" 
              for="ks-age-verification-dialog-date-year"
              aria-hidden="true">
              {{ section.settings.text_year_format }}
            </label>
          </div>
        </div>
        <div class="field-other">
          <button 
            type="submit" 
            class="button button--primary btn btn-primary"
            style="width: 100%;"
            data-submit
            disabled>
            {{ section.settings.text_button_enter }}
          </button>
        </div>
      {% when 'year' %}
        <div class="ks-age-verification-dialog-year">
          <div class="field">
            <input 
              id="ks-age-verification-dialog-year-year"
              class="field__input form-control" 
              type="number"
              min="1900" 
              max="2099" 
              step="1"
              placeholder="{{ section.settings.text_year_format }}"
              aria-label="{{ section.settings.text_year }}"
              required>
            <label 
              class="field__label" 
              for="ks-age-verification-dialog-year-year"
              aria-hidden="true">
              {{ section.settings.text_year_format }}
            </label>
          </div>
        </div>
        <div class="field-other">
          <button 
            type="submit" 
            class="button button--primary btn btn-primary"
            style="width: 100%;"
            data-submit
            disabled>
            {{ section.settings.text_button_enter }}
          </button>
        </div>
      {% when 'buttons' %}
        <div class="ks-age-verification-dialog-buttons">
          <button 
            type="submit" 
            class="button button--primary btn btn-primary"
            style="width: 100%;"
            data-submit>
            {{ section.settings.text_button_enter }}
          </button>
          <button 
            type="submit" 
            class="button button--secondary btn btn-secondary"
            style="width: 100%;"
            data-cancel
            onclick="location.href = 'https://www.google.com';">
            {{ section.settings.text_button_cancel }}
          </button>
        </div>
    {% endcase %}
    {% unless section.settings.note == blank %}
      <div class="description-note rte">
        {{ section.settings.note }}
      </div>
    {% endunless %}
  </div>
</dialog>

{% schema %}
{
  "name": "KS - Age verification",
  "tag": "section",
  "limit": 1,
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "config_min_age",
      "label": "Min age",
      "default": 21,
      "min": 14,
      "max": 21
    },
    {
      "type": "header",
      "content": "Config"
    },
    {
      "type": "select",
      "id": "config_style",
      "label": "Style",
      "options": [
        { "value": "date", "label": "Full date" },
        { "value": "year", "label": "Year only" },
        { "value": "buttons", "label": "Buttons" }
      ],
      "default": "date"
    },
    {
      "type": "range",
      "id": "config_days_to_wait",
      "label": "Days to wait",
      "info": "Days to wait before showing the age verification modal again.",
      "default": 30,
      "min": 1,
      "max": 60
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "Image height (px)",
      "default": "300"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Are you over 21?"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "h2", "label": "Small" },
        { "value": "h1", "label": "Medium" },
        { "value": "h0", "label": "Large" }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Please verify your age in order to access our store</p>",
      "info": "Leave empty to disable"
    },
    {
      "type": "richtext",
      "id": "note",
      "label": "Note",
      "default": "<p>By entering this store you are agreeing to our <a href=\"/policies/terms-of-service\">Terms of Service</a> and <a href=\"/policies/privacy-policy\">Privacy Policy</a>.</p>",
      "info": "Leave empty to disable"
    },
    {
      "type": "header",
      "content": "Dialog"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_foreground",
      "label": "Foreground color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "dialog_padding",
      "label": "Padding",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "text",
      "id": "dialog_max_width",
      "label": "Max-width (px)",
      "default": "560"
    },
    {
      "type": "select",
      "id": "dialog_text_align",
      "label": "Text align",
      "options": [
        { "value": "", "label": "Left" },
        { "value": "center", "label": "Center" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "dialog_border_radius",
      "label": "Border radius (px)",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 8,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "dialog_box_shadow",
      "label": "Box shadow",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "Backdrop"
    },
    {
      "type": "color",
      "id": "backdrop_bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "backdrop_bg_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 60
    },
    {
      "type": "range",
      "id": "backdrop_blur",
      "label": "Blur",
      "min": 0,
      "max": 16,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Translation"
    },
    {
      "type": "text",
      "id": "text_year",
      "label": "Year",
      "default": "Year"
    },
    {
      "type": "text",
      "id": "text_month",
      "label": "Month",
      "default": "Month"
    },
    {
      "type": "text",
      "id": "text_day",
      "label": "Day",
      "default": "Day"
    },
    {
      "type": "text",
      "id": "text_year_format",
      "label": "Year format",
      "default": "YYYY"
    },
    {
      "type": "text",
      "id": "text_month_format",
      "label": "Month format",
      "default": "MM"
    },
    {
      "type": "text",
      "id": "text_day_format",
      "label": "Day format",
      "default": "DD"
    },
    {
      "type": "text",
      "id": "text_button_enter",
      "label": "Button enter",
      "default": "Enter →"
    },
    {
      "type": "text",
      "id": "text_button_cancel",
      "label": "Button cancel",
      "default": "Cancel"
    },
    {
      "type": "header",
      "content": "Get Support",
      "info": "Please use our [Community Forum](https://community.kondasoft.com) to get help from our support team."
    },
    {
      "type": "header",
      "content": "Shopify Snippets",
      "info": "Check out our other [Shopify Snippets](https://www.kondasoft.com/collections/shopify-snippets)"
    },
    {
      "type": "header",
      "content": "Shopify Themes",
      "info": "Want to WOW your customers?! Check out our [Shopify Themes](https://www.kondasoft.com/collections/shopify-themes)."
    },
    {
      "type": "paragraph",
      "content": "© 2024 KondaSoft.com"
    }
  ],
  "presets": [
    {
      "name": "KS - Age verification"
    }
  ]
}
{% endschema %}
