{% liquid 
  # KS Fancy Slideshow
  # © 2025 KondaSoft
  # https://www.kondasoft.com
%}

{% liquid
  if section.settings.media_adapt == false
    assign media_mobile_height = section.settings.media_mobile_height | prepend: 'height: ' | append: 'px;'
    assign media_desktop_height = section.settings.media_desktop_height | prepend: 'height: ' | append: 'px;'
  endif
%}
 
{%- style -%}
  #ks-fancy-slideshow-{{ section.id }} {
    --color-background: {{ section.settings.background_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-foreground: {{ section.settings.foreground_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    display: block;
    overflow: hidden;
    padding-top: {{ section.settings.pt | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.pb | times: 0.75 | round: 0 }}px;
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
  }

  .text-start { text-align: left; }
  .text-center { text-align: center; }
  .text-end { text-align: right; }

  #ks-fancy-slideshow-{{ section.id }} div:empty {
    display: block;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-media-wrapper {
    --opacity: 0;
    position: relative;
    overflow: hidden;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-media-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--overlay-color-rgb), var(--overlay-opacity, 0.7));
    backdrop-filter: blur(var(--overlay-blur, 0));
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-media {
    width: 100%;
    object-fit: cover;
    display: flex;
    transform: scale(1.2);
    transition: all 1s ease-out;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper-slide-fully-visible .ks-fancy-slideshow-media {
    transform: none;
  }

  #ks-fancy-slideshow-{{ section.id }} .placeholder-svg {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper {
    --swiper-theme-color: var(--color-foreground);
    --swiper-navigation-size: 1.25rem;
    --swiper-navigation-color: rgb(var(--swiper-theme-color));
    --swiper-navigation-sides-offset: 3vw;
    --swiper-pagination-color: rgb(var(--swiper-theme-color));
    --swiper-pagination-right: 1rem;
    --swiper-pagination-bottom: 2%;
    --swiper-pagination-bullet-horizontal-gap: .4rem;
    --swiper-pagination-bullet-vertical-gap: .4rem;
    --swiper-pagination-bullet-inactive-color: rgb(var(--swiper-theme-color));
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-fraction-color: rgb(var(--swiper-theme-color));
    --swiper-scrollbar-bottom: 2%;
    --swiper-scrollbar-bg-color: rgba(var(--swiper-theme-color), .15);
    --swiper-scrollbar-drag-bg-color: rgba(var(--swiper-theme-color), 1);
    --swiper-scrollbar-sides-offset: 30vw;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper[data-swiper-partial="true"] {
    opacity: .2;
    transition: all .2s ease-out;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper[data-swiper-partial="true"].swiper-initialized {
    opacity: 1;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper-slide .ks-fancy-slideshow-caption {
    opacity: 0;
    transition: all .2s linear;
    transition-delay: .4s;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper-slide-active .ks-fancy-slideshow-caption {
    opacity: 1;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper-slide-active .scroll-trigger {
    animation: var(--animation-slide-in);
    animation-delay: .4s;
  }

  #ks-fancy-slideshow-{{ section.id }}  .swiper [class*=swiper-button] {
    padding: .5em;
    margin: 0; 
    width: auto;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-out;
    opacity: 1;
    color: rgba(var(--swiper-theme-color), 1);
    background: rgba(var(--swiper-theme-color), .05);
    border: 1px solid rgba(var(--swiper-theme-color), .1);
    border-radius: 50rem;
  }
 
  #ks-fancy-slideshow-{{ section.id }} .swiper [class*=swiper-button]:after {
    width: var(--swiper-navigation-size);
    height: var(--swiper-navigation-size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-out;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper [class*=swiper-button]:hover,
  #ks-fancy-slideshow-{{ section.id }} .swiper [class*=swiper-button]:focus {
    opacity: 1;
    background-color: rgba(var(--swiper-theme-color), .1);
    border-color: rgba(var(--swiper-theme-color), .2);
    box-shadow: 0 0 1rem rgba(var(--swiper-theme-color), .2);
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper [class*=swiper-button]:focus-visible {
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-button-prev:hover:after, 
  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-button-prev:focus:after {
    transform: translateX(-2px);
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-button-next:hover:after, 
  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-button-next:focus:after {
    transform: translateX(2px);
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-pagination {
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 50rem;
    border: 1px solid rgba(var(--swiper-theme-color), 1);
    background-color: transparent;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
    position: relative;
    background-color: transparent;
    animation: swiper_pagination_bullet_active .4s ease-out both;
  }

  @keyframes swiper_pagination_bullet_active {
    to { width: 24px; }
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    background-color: rgba(var(--swiper-theme-color), 1);
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    animation: swiper_pagination_bullet_active_inner 5s ease-out both;
    animation-duration: var(--autoplay-time);
  }

  @keyframes swiper_pagination_bullet_active_inner {
    to { width: 100%; }
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper[data-swiper-autoplay="0"] .swiper-pagination-bullet-active::before {
    width: 100%;
  }

  #ks-fancy-slideshow-{{ section.id }} .swiper .swiper-pagination-fraction {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #ks-fancy-slideshow-{{ section.id }}.swiper-slide-active .scroll-trigger {
    animation: var(--animation-slide-in);
    animation-delay: .4s;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption {
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption-inner {
    padding: 1.5rem;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .subtitle {
    color: rgba(var(--color-foreground), 1);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .title {
    margin: 0;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .description {
    margin: .5rem 0 .5rem;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .btn-wrapper {
    margin-top: 2rem;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .button {
    --color-button: {{ section.settings.btn_bg_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-button-text: {{ section.settings.btn_text_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    flex-grow: 1;
    box-sizing: border-box;
  }

  #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption .button--secondary {
    --color-button-text: var(--color-button); 
    --alpha-button-background: 0; 
  }
  
  @media (max-width: 749px) {
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-media-outter-desktop {
      display: none;
    }
    #ks-fancy-slideshow-{{ section.id }} .swiper [class*="swiper-button"] {
      display: none;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-section-content .title {
      line-height: 1.1;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-section-content .description {
      line-height: normal;
    }
  }

  @media (min-width: 750px) {
    #ks-fancy-slideshow-{{ section.id }} {
      padding-top: {{ section.settings.pt }}px;
      padding-bottom: {{ section.settings.pb }}px;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-media-outter-mobile {
      display: none;
    }
  }

  @media (max-width: 989px) {
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-mobile="top"] {
      top: 8%;
      bottom: auto;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-mobile="center"] {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-mobile="bottom"] {
      top: auto; 
      bottom: 10%;
    }
  }

  @media (min-width: 990px) {
    .text-desktop-start { text-align: left; }
    .text-desktop-center { text-align: center; }
    .text-desktop-end { text-align: right; }
    
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-desktop="left"] {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      left: 15%;
      right: auto;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-desktop="center"] {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-desktop="right"] {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      left: auto;
      right: 15%;
    }
    #ks-fancy-slideshow-{{ section.id }} .ks-fancy-slideshow-caption[data-position-desktop="bottom"] {
      bottom: 8%;
    }
  }
{%- endstyle -%}

{%- javascript -%}
class KsFancySlideshow extends HTMLElement {
  constructor () {
    super()

    if (!document.querySelector('#swiper-stylesheet')) {
      const stylesheet = document.createElement('link')
      stylesheet.setAttribute('href', 'https://cdn.jsdelivr.net/npm/swiper@11.1.4/swiper-bundle.min.css')
      stylesheet.setAttribute('rel', 'stylesheet')
      stylesheet.setAttribute('id', 'swiper-stylesheet')
      stylesheet.setAttribute('integrity', 'sha256-5nkrwjVsiNfKz3NR1k2h5+qt5pS5SF2u9/TIT1hElow=')
      stylesheet.setAttribute('crossorigin', 'anonymous')
      document.head.appendChild(stylesheet)
    }

    if (!document.querySelector('#swiper-script')) {
      const script = document.createElement('script')
      script.setAttribute('src', 'https://cdn.jsdelivr.net/npm/swiper@11.1.4/swiper-bundle.min.js')
      script.setAttribute('id', 'swiper-script')
      script.setAttribute('integrity', 'sha256-rCACDWCp/VzIh0rsB+ipQCM9XBvO8HNe0fNSOa4sys0=')
      script.setAttribute('crossorigin', 'anonymous')
      document.head.appendChild(script)
    }

    this.myInterval = setInterval(() => {
      this.init()
    }, 100);

    document.addEventListener('shopify:section:load', () => {
      if (event.target.querySelector('.ks-fancy-slideshow')) {
        this.init()
      }
    })
  }

  init () {    
    if (!window.Swiper) return

    const sliderElem = this.querySelector('.swiper')

    const navigation = {
      enabled: sliderElem.dataset.swiperNavigation === 'true',
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next' 
    }
  
    const pagination = {
      enabled: sliderElem.dataset.swiperPagination === 'bullets' || sliderElem.dataset.swiperPagination === 'fraction',
      el: '.swiper-pagination',
      type: sliderElem.dataset.swiperPagination,
      dynamicBullets: false,
      dynamicMainBullets: 2,
      renderFraction: function (currentClass, totalClass) {
        return `<span class="${currentClass}"></span>/<span class="${totalClass}"></span>`
      }
    }

    const effect = sliderElem.dataset.swiperEffect
  
    const scrollbar = {
      enabled: sliderElem.dataset.swiperPagination === 'scrollbar',
      el: sliderElem.querySelector('.swiper-scrollbar'),
      draggable: true
    }
  
    const speed = Number(sliderElem.dataset.swiperSpeed || 300)
  
    const autoplay = sliderElem.dataset.swiperAutoplay === '0'
      ? undefined
      : { delay: Number(sliderElem.dataset.swiperAutoplay) * 1000 }

    const creativeEffect = {
      prev: { translate: [0, 0, -400],},
      next: { translate: ['100%', 0, 0]},
    }

    console.log(sliderElem.dataset.swiperSpacing)

    const breakpoints = {
      0: {
        slidesPerView: sliderElem.dataset.swiperPartial === 'true' ? 1.4 : 1,
        spaceBetween: Math.round(Number(sliderElem.dataset.swiperSpacing) * .75)
      },
      750: {
        slidesPerView: sliderElem.dataset.swiperPartial === 'true' ? 1.3 : 1,
        spaceBetween: Number(sliderElem.dataset.swiperSpacing)
      },
      990: {
        slidesPerView: sliderElem.dataset.swiperPartial === 'true' ? 1.2 : 1,
        spaceBetween: Number(sliderElem.dataset.swiperSpacing)
      }
    }

    this.slider = new window.Swiper(sliderElem, {
      navigation,
      pagination,
      scrollbar,
      effect,
      speed,
      autoplay,
      creativeEffect,
      breakpoints,
      centeredSlides: true,
      loop: true,
      watchSlidesProgress: true,
      fadeEffect: { crossFade: true },
      mousewheel: { enabled: true, forceToAxis: true },
      on: {
      }
    })

    clearInterval(this.myInterval)
  }
}
customElements.define('ks-fancy-slideshow', KsFancySlideshow)

{%- endjavascript -%}
 
<ks-fancy-slideshow 
  id="ks-fancy-slideshow-{{ section.id }}"
  class="ks-fancy-slideshow">   
  <div 
    class="swiper"
    data-swiper-navigation="{{ section.settings.slider_navigation }}"
    data-swiper-pagination="{{ section.settings.slider_pagination }}"
    data-swiper-effect="{{ section.settings.slider_effect }}"
    data-swiper-speed="{{ section.settings.slider_speed }}"
    data-swiper-autoplay="{{ section.settings.slider_autoplay }}"
    data-swiper-partial="{{ section.settings.slider_partial }}"
    data-swiper-spacing="{{ section.settings.slider_spacing }}"
    style="--autoplay-time: {{ section.settings.slider_autoplay | times: 1000 | plus: section.settings.slider_speed }}ms;" 
    aria-label="{{ section.settings.label }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% liquid 
          if section.index > 1 or forloop.index > 1
            assign media_loading = 'lazy'
            assign video_autoplay = false
          else
            assign media_loading = 'eager'
            assign video_autoplay = true
          endif
        %}
        <div 
          class="swiper-slide" 
          data-index="{{ forloop.index0 }}"
          {{ block.shopify_attributes }}>
          <div 
            class="ks-media-wrapper"
            data-overlay-opacity="{{ block.settings.overlay_opacity }}"
            style="
              --overlay-color-rgb: {{ block.settings.overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
              --overlay-opacity: {{ block.settings.overlay_opacity | append: '%' }};
              --overlay-blur: {{ block.settings.overlay_blur | append: 'px' }};
            ">
            {% if block.settings.video_mobile != blank or block.settings.video_desktop != blank %}
              <div class="ks-fancy-slideshow-media-outter ks-fancy-slideshow-media-outter-mobile">
                {{-
                  block.settings.video_mobile | video_tag: 
                    class: 'ks-fancy-slideshow-media', 
                    style: media_mobile_height,
                    image_size: '800x', 
                    autoplay: video_autoplay, 
                    loop: true, 
                    muted: true, 
                    controls: false,
                    loading: media_loading,
                    preload: 'none',
                    data-autoplay: true
                -}}
              </div>
              <div class="ks-fancy-slideshow-media-outter ks-fancy-slideshow-media-outter-desktop">
                {{-
                  block.settings.video_desktop | video_tag: 
                    class: 'ks-fancy-slideshow-media', 
                    style: media_desktop_height,
                    image_size: '1600x', 
                    autoplay: video_autoplay, 
                    loop: true, 
                    muted: true, 
                    controls: false,
                    loading: media_loading,
                    preload: 'none',
                    data-autoplay: true
                -}}
              </div>
            {% elsif block.settings.img_mobile != blank or block.settings.img_desktop != blank %}
              <div class="ks-fancy-slideshow-media-outter ks-fancy-slideshow-media-outter-mobile">
                <img 
                  class="ks-fancy-slideshow-media"
                  src="{{ block.settings.img_mobile | image_url: width: '800' }}" 
                  alt=" {{ block.settings.img_mobile.alt }}"
                  width="800"
                  height="{{ 800 | divided_by: block.settings.img_mobile.aspect_ratio | round }}"
                  loading="{{ media_loading }}"
                  style="{{ media_mobile_height }}">
              </div>
              <div class="ks-fancy-slideshow-media-outter ks-fancy-slideshow-media-outter-desktop">
                <img 
                  class="ks-fancy-slideshow-media"
                  src="{{ block.settings.img_desktop | image_url: width: '1600' }}" 
                  alt=" {{ block.settings.img_desktop.alt }}"
                  width="1600"
                  height="{{ 1600 | divided_by: block.settings.img_desktop.aspect_ratio | round }}"
                  loading="{{ media_loading }}"
                  style="{{ media_desktop_height }}">
              </div>
            {% else %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div 
            class="
              ks-fancy-slideshow-caption
              {{ block.settings.caption_text_align_mobile }} 
              {{ block.settings.caption_text_align_desktop }}
            "
            data-position-mobile="{{ block.settings.caption_position_mobile }}"
            data-position-desktop="{{ block.settings.caption_position_desktop }}">
            <div 
              class="ks-fancy-slideshow-caption-inner {% if settings.animations_reveal_on_scroll %}scroll-trigger{% endif %}" 
              style="max-width: {{ block.settings.caption_max_width | append: 'px' }};">
              <div class="ks-section-content ks-section-content-block">
                {% unless block.settings.subtitle == blank %}
                  <p class="subtitle ">
                    {{ block.settings.subtitle }}
                  </p>
                {% endunless %}
                {% unless block.settings.title == blank %}
                  <h2 class="title {{ block.settings.title_font_size }}">
                    {{ block.settings.title }}
              
                  </h2>
                {% endunless %}
                {% unless block.settings.description == blank %}
                  <div class="description rte">
                    {{ block.settings.description }}
                  </div>
                {% endunless %}
                {% if block.settings.btn_primary_text != blank or block.settings.btn_secondary_text != blank %}
                  <div class="btn-wrapper">
                    {% unless block.settings.btn_primary_text == blank %}
                      <a 
                        class="button btn {{ block.settings.btn_primary_style }}"  
                        href="{{ block.settings.btn_primary_url }}">
                        {{ block.settings.btn_primary_text }}
                      </a>
                    {% endunless %}
                    {% unless block.settings.btn_secondary_text == blank %}
                      <a 
                        class="button btn {{ block.settings.btn_secondary_style }}"  
                        href="{{ block.settings.btn_secondary_url }}">
                        {{ block.settings.btn_secondary_text }}
                      </a>
                    {% endunless %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</ks-fancy-slideshow>

{% if request.design_mode %}
  <script>
    document.addEventListener('shopify:block:select', (event) => {
      const section = event.target.closest('#ks-fancy-slideshow-{{ section.id }}')
    
      if (section) {
        const slider = section.querySelector('.swiper')
        slider.swiper.autoplay = false
        // slider.swiper.slideTo(event.target.dataset.index)
      }
    })
  </script>
{% endif %}

{% schema %}
{
  "name": "KS - Fancy slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": "Foreground color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Buttons background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Buttons foreground color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "checkbox",
      "id": "slider_navigation",
      "label": "Navigation (arrows)",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_pagination",
      "label": "Pagination",
      "default": "bullets",
      "options": [
        { "value": "", "label": "None" },
        { "value": "bullets", "label": "Bullets" },
        { "value": "fraction", "label": "Fraction" },
        { "value": "scrollbar", "label": "Scrollbar" },
      ]
    },
    {
      "type": "select",
      "id": "slider_effect",
      "label": "Effect",
      "info": "NOTE: Some options work only if the \"Partial slides\" setting below is disabled",
      "default": "slide", 
      "options": [
        { "value": "slide", "label": "Slide" },
        { "value": "fade", "label": "Fade" },
        { "value": "cube", "label": "Cube" },
        { "value": "coverflow", "label": "Coverflow" },
        { "value": "flip", "label": "Flip" },
        { "value": "creative", "label": "Creative" }
      ]
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Speed",
      "default": 700,
      "min": 0,
      "max": 2000,
      "step": 100,
      "unit": "ms"
    },
    {
      "type": "range",
      "id": "slider_autoplay",
      "label": "Autoplay",
      "min": 0,
      "max": 10,
      "default": 5,
      "unit": "sec",
      "info": "Select \"0\" to disable autoplay"
    },
    {
      "type": "checkbox",
      "id": "slider_partial",
      "label": "Partial slides",
      "default": true
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "info": "It is used for accessibility purposes",
      "default": "Promotional slideshow"
    },
    {
      "type": "header",
      "content": "Media (Image/Video)"
    },
    {
      "type": "range",
      "id": "media_mobile_height",
      "label": "Mobile media height (px)",
      "min": 300,
      "max": 1000,
      "step": 10,
      "default": 400
    },
    {
      "type": "range",
      "id": "media_desktop_height",
      "label": "Desktop media height (px)",
      "min": 300,
      "max": 1000,
      "step": 10,
      "default": 700
    },
    {
      "type": "checkbox",
      "id": "media_adapt",
      "label": "Adapt media",
      "default": false,
      "info": "If this setting is enabled, the original media propotions will be used. Also, the two settings above will not have effect."
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    },
    {
      "type": "range",
      "id": "slider_spacing",
      "label": "Spacing between slides",
      "info": "This setting is useful if the \"Partial slides\" setting above is enabled",
      "min": 0,
      "max": 48,
      "step": 4,
      "default": 16,
      "unit": "px",
    },
    {
      "type": "header",
      "content": "Get Support",
      "info": "Please use our [Community Forum](https://community.kondasoft.com) to get help from our support team."
    },
    {
      "type": "header",
      "content": "Shopify Snippets",
      "info": "Check out our other [Shopify Snippets](https://www.kondasoft.com/collections/shopify-snippets)"
    },
    {
      "type": "header",
      "content": "Shopify Themes",
      "info": "Ready to take your store to the next level? Check out our [Premium Shopify Themes](https://www.kondasoft.com/collections/shopify-themes)."
    },
    {
      "type": "paragraph",
      "content": "© 2024 KondaSoft.com"
    }
  ],
"blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "img_mobile",
          "label": "Image - mobile"
        },
        {
          "type": "image_picker",
          "id": "img_desktop",
          "label": "Image - desktop"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "video",
          "id": "video_mobile",
          "label": "Video - mobile"
        },
        {
          "type": "video",
          "id": "video_desktop",
          "label": "Video - desktop" 
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#121212"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "default": 30,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "overlay_blur",
          "label": "Blur",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "type": "header",
          "content": "Caption"
        },
        {
          "type": "select",
          "id": "caption_position_mobile",
          "label": "Position - mobile",
          "default": "center",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "center", "label": "Center" },
            { "value": "bottom", "label": "Bottom" }
          ]
        },
        {
          "type": "select",
          "id": "caption_text_align_mobile",
          "label": "Text align - mobile",
          "default": "text-center",
          "options": [
            { "value": "text-start", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-end", "label": "Right" }
          ]
        },
        {
          "type": "select",
          "id": "caption_position_desktop",
          "label": "Position - desktop",
          "default": "center",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" },
            { "value": "bottom", "label": "Bottom" }
          ]
        },
        {
          "type": "select",
          "id": "caption_text_align_desktop",
          "label": "Text align - desktop",
          "default": "text-desktop-center",
          "options": [
            { "value": "text-desktop-start", "label": "Left" },
            { "value": "text-desktop-center", "label": "Center" },
            { "value": "text-desktop-end", "label": "Right" }
          ]
        },
        {
          "type": "text",
          "id": "caption_max_width",
          "label": "Caption max-width (px)",
          "default": "900"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Optional Subtitle",
          "info": "Leave empty to disable"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Welcome to our store",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "h1",
          "options": [
            { "value": "h2", "label": "Small" },
            { "value": "h1", "label": "Medium" },
            { "value": "h0", "label": "Large" },
            { "value": "hxl", "label": "Extra large" },
            { "value": "hxxl", "label": "Extra extra large" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>An optional description for this slide</p>",
          "info": "Leave empty to disable"
        },
        {
          "type": "header",
          "content": "Primary button"
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Button text",
          "default": "Primary button",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "btn_primary_style",
          "label": "Button style",
          "default": "button--primary btn-primary",
          "options": [
            { "value": "button--primary btn-primary", "label": "Primary" },
            { "value": "button--secondary btn-secondary", "label": "Secondary" }
          ]
        },
        {
          "type": "url",
          "id": "btn_primary_url",
          "label": "Button URL"
        },
        {
          "type": "header",
          "content": "Secondary button"
        },
        {
          "type": "text",
          "id": "btn_secondary_text",
          "label": "Button text",
          "default": "Secondary button",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "btn_secondary_style",
          "label": "Button style",
          "default": "button--secondary btn-secondary",
          "options": [
            { "value": "button--primary btn-primary", "label": "Primary" },
            { "value": "button--secondary btn-secondary", "label": "Secondary" }
          ]
        },
        {
          "type": "url",
          "id": "btn_secondary_url",
          "label": "Button URL"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "KS - Fancy slideshow",
      "blocks": [
        { "type": "slide" },
        { "type": "slide" },
        { "type": "slide" },
        { "type": "slide" }
      ]
    }
  ]
}
{% endschema %}
